.fondo{
    background-color: #1089FF!important;
}

.div-fondo{
    background-image:URL('../img/hombre.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.aura{
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 473px;
    height: 500px;
    margin-left: 68px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.box{
    position: absolute;
    width: 252px;
    height: 96px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 16px;
    margin-left: -53px;
}

.box-2{
    position: absolute;
    width: 252px;
    height: 96px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 16px;
    margin-left: 348px;
    margin-top: 178px;

}

.box-avatar {
    width: 50px;
    height: 50px;
    background: rgba(231, 77, 137, 0.2);
    border-radius: 12px;
}

.box2-avatar{
    background: rgba(16, 137, 255, 0.1);
    border-radius: 12px;
    width: 50px;
    height: 50px;
}

.titulo-card{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.15px;
    color: #194350;
}

.texto-card{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.4px;
    color: #888888;


}

.margin{
    padding-left: 120px;
}

h3{
    font-size: 60px;
    color:white;
    font-weight: bold;
}

input{
    min-width:303px;
    max-width:303px;
    min-height: 60px;
    max-height: 60px;
    border-radius: 20px!important;
}

button{
    width:251px!important;
    height: 50px;!important;
    color:white;!important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1089FF;
    border: 1px solid #000000!important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);!important;
    border-radius: 16px;!important;

}




select{
    min-width:303px;
    max-width:303px;
    min-height: 60px;
    max-height: 60px;
    border-radius: 20px!important;
    text-align: center!important;
    color: #839B97!important;
}



.form-control::placeholder {
    color: #839B97;
    font-size: 16px;
    text-align: center;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #839B97;
    font-size: 16px;
    text-align: center;
}

#row_contenedor{
    background-color: #E5E5E5!important;
}

h1 {
    font-weight: bold !important;
}

p{
    white-space: nowrap;
    overflow: hidden;
}

.card-text{
    text-overflow: ellipsis !important;
}


#footer{
    background-color: #E5E5E5!important;
}



@media (max-width: 768px) {

    .box-2{
        display: none;
    }
    .box{
        display: none;
    }
    .div-fondo{
        display: none!important;;
    }

    .aura{
        display: none;

    }
}
@media (max-width: 820px) {

    .box-2{
        display: none;
    }
    .box{
        display: none;
    }
    .div-fondo{
        display: none!important;
    }

    .aura{
        display: none;

    }
}





@media (max-width: 1024px) {

    .box-2{
        display: none;
    }

    .aura{
        margin-left: 25px;

    }
}
@media (width: 1213px) {

    .box-2{
        display: none;
    }

    .aura{
        margin-left: 40px;

    }
}

